# Системные файлы
.DS_Store
thumbs.db
*~
*.swp

# Данные плагинов и сессии (они должны создаваться заново)
plugin/
doc/tags

# Локальные настройки (если есть секретные API ключи, храни их тут)
lua/custom/local_settings.lua
.env
